# Data directories
tweets/
media/
extra/

# Database
*.db
*.db-journal
*.db-wal
*.db-shm
*.sqlite
*.sqlite3
config.json

# Logs and Temp files
logs
logs/
*.log
*.pid
*.part
main.go.bak
test_payload.json
handles.json

# Binaries
downloader
twitter-bookmarks-downloader
tbd
tbd.exe

# System
.DS_Store
